<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
  </head>
  <header class="heading">
    <img src="/images/ps2.png" alt="PS2" style="width: 60px; height: auto; margin-right: 58px">
    PARTY&nbsp;&nbsp;&nbsp;SPHERES
    <img src="/images/ps1.png" alt="PS1" style="width: 80px; height: auto; margin-left: 40px">
  </header>
  <header>
    <div class="link-row">
      <div class="link-item">
        <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a>
      </div>
      <div class="link-item">
        <a href="/leaderboard" class="<%= currentPage === 'leaderboard' ? 'active' : '' %>">Leaderboard</a>
      </div>
      <div class="link-item">
        <a href="/account" class="<%= currentPage === 'account' ? 'active' : '' %>">Account</a>
      </div>
    </div>
  </header>
  <body>
    <main class = "content">