<%- include('./partials/header', { currentPage: 'admin' }) %>

<div class="admin-panel">
    <h2>Admin Panel</h2>

    <div class="player-search-bar">
        <input type="text" id="adminSearch" placeholder="Search players" />
        <button id="adminSearchBtn">Search</button>
    </div>
</div>
<div id="adminResults" class="players-column"> </div>
    
<%- include('./partials/footer') %>
