<%- include('./partials/header', { currentPage: 'characters'}) %>
<div class="character-page-info">
    <h2>Sal Monella</h2>
    <div class="character-group">
        <div class="character-info">
            <div class="character-item">
                <strong>Likes:</strong> <span>Invites</span>
            </div>
            <div class="character-item">
                <strong>Dislikes:</strong> <span>Compliments</span>
            </div>
            <div class="character-item">
                <strong>Neutral:</strong> <span>Help</span>
            </div>
            <div class="character-item">
                <strong>Lore:</strong> <span>Sal was not loved much as a child.</span>
            </div>
        </div>
        <div id="characterPageImage">
            <img src="/images/ps1.png" alt="No image">
        </div>
    </div>
    <a href="/characters" class="big-button" id="backToCharactersButton">Back To Characters</a>
</div>
<%- include('./partials/footer') %>