<%- include('./partials/header', { currentPage: 'characters'}) %>

<div class="characters-info">
    <h2>Characters</h2>
    <div class="characters-row">
        <% npcs.forEach((npc, index) => { %>
            <% if (index % 2 === 0) { %> <!-- Open a new column for every two characters -->
            <div class="characters-column">
            <% } %>
                <div class="character-name-img">
                    <div class="character-name"><%= npc.npc_name %></div>
                    <div id="character-img">
                        <img src="<%= npc.img_path %>" alt="No image">
                    </div>
                </div>
            <% if (index % 2 === 1 || index === npcs.length - 1) { %> <!-- Close the column -->
            </div>
            <% } %>
        <% }); %>
    </div>
</div>

<%- include('./partials/footer') %>
