<%- include('./partials/header', { currentPage: 'characters'}) %>
<div class="characters-info">
    <h2>Characters</h2>
    <div class="characters-row">
        <div class="characters-column">
            <div class="character-name-img">
                <div class="character-name">Dixie Normous</div>
                <div id="character-img">
                    <img src="/images/ps1.png" alt="No image">
                </div>
            </div>
            <div class="character-name-img">
                <div class="character-name">Mike Hunt</div>
                <div id="character-img">
                    <img src="/images/ps1.png" alt="No image">
                </div>
            </div>
        </div>
        <div class="characters-column">
            <div class="character-name-img">
                <div class="character-name">Mike Coxlong</div>
                <div id="character-img">
                    <img src="/images/ps1.png" alt="No image">
                </div>
            </div>
            <div class="character-name-img">
                <div class="character-name">Joe Mama</div>
                <div id="character-img">
                    <img src="/images/ps1.png" alt="No image">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>