<%- include('./partials/header', { currentPage: 'home'}) %>
<div class = "party-circle-header">Click one group and then make an action:</div>
<div class="points-health">
    <div class="game-points">Points: <%= user.total_points %></div>
    <div class="health-container">
        <span class="health-label">Happiness</span>
        <div class="health-bar" id="healthBar" style="--health: 100%;"></div>
    </div>
    <div class="game-points">High Score: <%= user.high_score %></div>
</div>
<div class = "party-circle-group">
    <div class = "party-circle">
        <div class = "party-circle-label">
            Sphere 1
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Ella Vator
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-red">C</div>
                <div class = "like-circle" id = "like-circle-green">I</div>
                <div class = "like-circle" id = "like-circle-yellow">H</div>
            </div>
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Mike Hunt
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-green">C</div>
                <div class = "like-circle" id = "like-circle-green">I</div>
                <div class = "like-circle" id = "like-circle-red">H</div>
            </div>
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Justin Time
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-red">C</div>
                <div class = "like-circle" id = "like-circle-yellow">I</div>
                <div class = "like-circle" id = "like-circle-red">H</div>
            </div>
        </div>
    </div>
    <div class = "party-circle">
        <div class = "party-circle-label">
            Sphere 2
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Joe Mama
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-green">C</div>
                <div class = "like-circle" id = "like-circle-red">I</div>
                <div class = "like-circle" id = "like-circle-yellow">H</div>
            </div>
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Sal Monella
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-yellow">C</div>
                <div class = "like-circle" id = "like-circle-yellow">I</div>
                <div class = "like-circle" id = "like-circle-green">H</div>
            </div>
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Warren Peace
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-red">C</div>
                <div class = "like-circle" id = "like-circle-green">I</div>
                <div class = "like-circle" id = "like-circle-red">H</div>
            </div>
        </div>
    </div>
    <div class = "party-circle">
        <div class = "party-circle-label">
            Sphere 3
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Hugh Jass
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-green">C</div>
                <div class = "like-circle" id = "like-circle-green">I</div>
                <div class = "like-circle" id = "like-circle-green">H</div>
            </div>
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Sue Flay
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-yellow">C</div>
                <div class = "like-circle" id = "like-circle-green">I</div>
                <div class = "like-circle" id = "like-circle-yellow">H</div>
            </div>
        </div>
        <div class = "party-circle-name-img">
            <div class = "party-circle-name">
                Ben dover
            </div>
            <div id = "party-circle-img">
                <img src="/images/ps1.png" alt="No image">
            </div>
            <div class = "like-list-column">
                <div class = "like-circle" id = "like-circle-red">C</div>
                <div class = "like-circle" id = "like-circle-red">I</div>
                <div class = "like-circle" id = "like-circle-red">H</div>
            </div>
        </div>
    </div>
</div>
<div class="game-button-row">
    <div class="game-button">Give Compliments</div>
    <div class="game-button">Invite to Event</div>
    <div class="game-button">Offer Help</div>
</div>
<%- include('./partials/footer') %>