<%- include('./partials/header', { currentPage: 'home'}) %>
<div style="text-align: center">
    <button class="big-button" id="playGameButton" style="margin-top: 65px;">
        PLAY GAME
    </button>
</div>
<div style="text-align: center">
    <button class="big-button" id="leaderboardButton" style="margin-top: 45px;">
        LEADERBOARD
    </button>
</div>
<div style="text-align: center">
    <button class="big-button" id="charactersButton" style="margin-top: 45px;">
        CHARACTERS
    </button>
</div>
<div style="text-align: center">
    <button class="big-button" id="playersButton" style="margin-top: 45px;">
        PLAYERS
    </button>
</div>
<div style="text-align: center">
    <button class="big-button" id="accountButton" style="margin-top: 45px; margin-bottom: 30px;">
        ACCOUNT
    </button>
</div>
<%- include('./partials/footer') %>