html {
  background-color: rgb(247, 236, 222);
}

body {
  margin: 0;
}

.heading {
  background: linear-gradient(to right, #73ff8f, #02dc2d);
  color: white;
  font-size: 60px;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

header {
  display: flex;
  background-color: #333333;
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.content {
  font-size: 16px;
  color: black;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 8px;
}

a {
  color: #00B7FF;
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-item a {
  color: white;
  text-decoration: none;
}

.link-item a:hover {
  text-decoration: underline;
}

.link-item a.active {
  text-decoration: underline;
}

.big-button {
  padding: 10px 20px;
  font-size: 30px;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  text-align: center;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

#playGameButton {
  background-color: #1eecfe;
}

#leaderboardButton {
  background-color: #ffc74f;
}

#charactersButton {
  background-color: #f57979;
}

#accountButton {
  background-color: #f39af6;
}

#playGameButton:hover {
  background-color: #17c3da;
}

#leaderboardButton:hover {
  background-color: #e6b244;
}

#charactersButton:hover {
  background-color: #cf6969;
}

#accountButton:hover {
  background-color: #e288e3;
}

#signupButton {
  background-color: #73ff8f;
  width: 100%;
  margin-top: 15px;
}

#signupButton:hover {
  background-color: #02dc2d;
}

.leaderboard {
  background: #ffc74f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 270px;
}

.leaderboard h2 {
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 3px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

.leaderboard-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.leaderboard-table th {
  padding: 10px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
  background: #ffc74f;
  font-size: 18px;
  color: white;
  text-align: center;
}

.leaderboard-table th:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}

.leaderboard-table td {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.leaderboard-table tr:hover {
  background-color: #f1f1f1;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  white-space: nowrap;
  margin-bottom: -5px;
  margin-top: -5px;
}

.leaderboard-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  flex-shrink: 0;
}

.player-info span {
  text-align: left;
  flex-grow: 1;
  min-width: 100px;
}

.signup-form {
  background-color: #f39af6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form h2 {
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #2ae1f1;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.account-details {
  background-color: #f39af6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.account-group {
  display: flex;
  flex-direction: row;
}

.account-info {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.account-item {
  margin-bottom: 20px;
  font-size: 18px;
}

.account-item strong {
  font-weight: bold;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

.account-item span {
  margin-left: 10px;
  color: black;
}

h2 {
  font-size: 36px;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

#editButton {
  width: auto;
  font-size: 18px;
  background-color: #ffc74f;
  text-decoration: none;
  display: block;
  max-width: 250px;
  margin: 20px auto 0 auto;
  margin-top: 10px;
}

#editButton:hover {
  background-color: #e6b244;
}

#profileImage {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
}

#profileImage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
}

.account-form {
  background-color: #f39af6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.account-form h2 {
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}
.form-group input, .form-group textarea{
  border: 2px solid #000000;
}

.account-form-group input, .account-form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  max-width: 560px;
}

.account-form-group textarea {
  resize: vertical;
}

.party-circle-group {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20px;
  overflow: visible;
}

@media (max-width: 768px) {
  .party-circle-group {
    flex-direction: column;
    align-items: center;
  }
}

.party-circle-name-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px; 
  width: 100%; 
  margin-right: 30px;
  margin-left: -15px;
}

.party-circle {
  flex-direction: column;
  background-color: #1eecfe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2.5px solid black;
  width: 325px;
  height: 325px;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  text-align: center;
  align-items: center;
  min-width: 325px;
  cursor: pointer;
  transition: border;
}

.party-circle:hover {
  border: 3px solid white;
}

.party-circle.selected-circle {
  border: 5.5px solid yellow !important;
}

#party-circle-img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 2px solid black;
  align-content: center;
  margin-bottom: 16px;
}

#party-circle-img img{
  width: 68px;
  height: 68px;
}

.party-circle-label {
  font-size: 23px;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
  margin-bottom: 11.4px;
}

.party-circle-name {
  font-size: 17px;
  color: black;
  min-width: 140px; 
  text-align: left; 
  margin-left: 51px;
  margin-bottom: 17px;
}

.party-circle-header {
  font-size: 41px;
  color: white;
  text-shadow: 
    -1.1px -1.1px 0 black,  
    1.1px -1.1px 0 black,
    -1.1px  1.1px 0 black,
    1.1px  1.1px 0 black;
  margin-top: 12px;
  margin-bottom: 11.4px;
  align-items: center;
  text-align: center;
}

.like-list-column{
  flex-direction: column;
  display: flex;
  margin-bottom: 9px;
}

.like-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  color: white;
  text-shadow: 
    -.65px -.65px 0 black,  
    .65px -.65px 0 black,
    -.65px  .65px 0 black,
    .65px  .65px 0 black;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 3px;
  line-height: 35px;
  margin-left: -3px;
}

#like-circle-green{
  background-color: #73ff8f;
}

#like-circle-red{
  background-color: #ff7373;
}

#like-circle-yellow{
  background-color: #f8ff73
}

.game-button-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 35px;
  gap: 40px;
}

.game-button{
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border: 2px solid black;
  background-color: #ffc74f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

.game-button:hover{
  background-color: #e6b244;;
}

.game-points{
  text-align: center;
  color: black;
  font-size: 20px;
  flex: 1;
}

.points-health {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  gap: 60x;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.health-container {
  position: relative;
  width: 200px;
  height: 25px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ddd;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
}

.health-bar {
  width: var(--health, 100%);
  height: 100%;
  background-color: #f8ff73;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.health-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 18px;
  pointer-events: none;
  z-index: 2;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .points-health {
    flex-direction: column;
    gap: 10px;
  }

  .game-points {
    min-width: unset;
    font-size: 18px;
  }
}

.characters-info{
  background-color: #f57979;
    padding-top: 20px;
    padding-right: 110px;
    padding-bottom: 20px;
    padding-left: 110px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    width: 22.5%;
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    min-width: 275px
}

.characters-column{
    margin-top: 10px;
    margin-bottom: -17px;
}

.characters-row{
  flex-direction: row;
  display: flex;
  gap: 90px;
  justify-content: center;
}

.character-name-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px; 
  width: 100%; 
  margin-bottom: 30px;
  cursor: pointer;
}

.character-name{
  font-size: 17px;
  color: white;
  text-align: left;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

#character-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  align-content: center;
}

#character-img img{
  width: 100px;
  height: 100px;
}

.character-name-img:hover #character-img{
  border-color: yellow;
}

.character-page-info{
  background-color: #f57979;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 42.17%;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  min-width: 290px;
}

.character-group {
  display: flex;
  flex-direction: row;
}

.character-info {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.character-item {
  margin-bottom: 20px;
  font-size: 18px;
}

.character-item strong {
  font-weight: bold;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

.character-item span {
  margin-left: 10px;
  color: black;
}

#backToCharactersButton {
  width: auto;
  font-size: 18px;
  background-color: #ffc74f;
  text-decoration: none;
  display: block;
  max-width: 250px;
  margin: 20px auto 0 auto;
  margin-top: 20px;
}

#backToCharactersButton:hover {
  background-color: #e6b244;
}

#characterPageImage {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
}

#characterPageImage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
}

.profile-details{
  background-color: #ffc74f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

#backToLeaderboardButton {
  width: auto;
  font-size: 18px;
  background-color: #f39af6;
  text-decoration: none;
  display: block;
  max-width: 250px;
  margin: 20px auto 0 auto;
  margin-top: 10px;
}

#backToLeaderboardButton:hover {
  background-color: #e288e3;
}