html {
  background-color: rgb(247, 236, 222);
}

body {
  margin: 0;
}

.heading {
  background: linear-gradient(to right, #73ff8f, #02dc2d);
  color: white;
  font-size: 60px;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

header {
  display: flex;
  background-color: #333333;
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.content {
  font-size: 16px;
  color: black;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 8px;
}

a {
  color: #00B7FF;
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-item a {
  color: white;
  text-decoration: none;
}

.link-item a:hover {
  text-decoration: underline;
}

.link-item a.active {
  text-decoration: underline;
}

.big-button {
  padding: 10px 20px;
  font-size: 30px;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  text-align: center;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

#playGameButton {
  background-color: #1eecfe;
}

#leaderboardButton {
  background-color: #ffc74f;
}

#accountButton {
  background-color: #f39af6;
}

#playGameButton:hover {
  background-color: #17c3da;
}

#leaderboardButton:hover {
  background-color: #e6b244;
}

#accountButton:hover {
  background-color: #e288e3;
}

#signupButton {
  background-color: #73ff8f;
  width: 100%;
  margin-top: 15px;
}

#signupButton:hover {
  background-color: #02dc2d;
}

.leaderboard {
  background: #ffc74f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

.leaderboard h2 {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

.leaderboard-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.leaderboard-table th {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
  background: #ffc74f;
}

.leaderboard-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.leaderboard-table th {
  background-color: #ffc74f;
  color: white;
  font-size: 18px;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.leaderboard-table tr:hover {
  background-color: #f1f1f1;
}

.leaderboard-table td {
  font-size: 16px;
}

.signup-form {
  background-color: #f39af6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form h2 {
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #2ae1f1;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.account-details {
  background-color: #f39af6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.account-group {
  display: flex;
  flex-direction: row;
}

.account-info {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.account-item {
  margin-bottom: 20px;
  font-size: 18px;
}

.account-item strong {
  font-weight: bold;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}

.account-item span {
  margin-left: 10px;
  color: black;
}

h2 {
  font-size: 36px;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

#editButton {
  width: auto;
  font-size: 18px;
  background-color: #ffc74f;
  text-decoration: none;
  display: block;
  max-width: 250px;
  margin: 20px auto 0 auto;
  margin-top: 10px;
}

#editButton:hover {
  background-color: #e6b244;
}

#profileImage {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
}

#profileImage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
}

.account-form {
  background-color: #f39af6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.account-form h2 {
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-shadow: 
    -1.25px -1.25px 0 black,  
    1.25px -1.25px 0 black,
    -1.25px  1.25px 0 black,
    1.25px  1.25px 0 black;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}
.form-group input, .form-group textarea{
  border: 2px solid #000000;
}

.account-form-group input, .account-form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  max-width: 560px;
}

.account-form-group textarea {
  resize: vertical;
}